{% extends 'base.html' %} {% block content %}

<h1>Comic List</h1>

{% for comic in comics %}
<div class="card">
  <a href="{% url 'detail' comic.id %}">
    <div class="card-content">
      <span class="card-title">{{ comic.name }}</span>
      {% comment %} <p>Date: {{ comic.date|date:"F d, Y" }}</p>
      <p>Writer: {{ comic.writer }}</p>
      <p>Penciler: {{ comic.penciler }}</p>
      <p>Description: {{ comic.description }}</p> {% endcomment %}
    </div>
  </a>
</div>
{% endfor %} {% endblock %}
